body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  font-family: sans-serif;
  background-color: #0e0e0e;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#initial-loader {
  text-align: center;
}

#initial-loader img {
  width: 40vw;
  max-width: 450px;
}

#game-container {
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
}
